﻿@model Trylma.Models.Message

<div class="ui segment msg">
        <img src="@Model.Sender.AvatarPath" width="30" height="30" style="vertical-align:middle"/>
        
    @if (Model.Special == true)
    {
        <span style="vertical-align: middle;" class="specialmsg">
            @Model.Time
            <b>@Model.Sender.Name:</b>
            @Model.Msg
        </span>
    }
    else
    {
        <span style="vertical-align: middle;">
            @Model.Time
            <b>@Model.Sender.Name:</b>
            @Model.Msg
        </span>
    }    
</div>
