﻿@model Trylma.Models.User

<span @(Model.Name == User.Identity.Name ? "class=me" : "")>
    <img src="@Model.AvatarPath" width="45" height="45" style="vertical-align:middle" />

    <span style="vertical-align: middle;">
        @Model.Name
        <img src="~/Resources/Images/star.png" width="20" height="20" style="vertical-align: middle" />
        @Model.Ranking
    </span>
</span>

