﻿@model Trylma.Models.RoomTable

<div class="box">
    <div class="ui segment">
        Wielkość planszy:<br/>

            <select id="boardSize" onchange="changeBoardSize()" class="ui dropdown">
                <option value="0">Mała</option>
                <option value="1">Średnia</option>
                <option value="2">Duża</option>
            </select>
        </div>
</div>
@Html.Partial("ConfigTable", @Model)

<script>
    $('#boardSize').val(@Model.Room.Game.GetDesc().BoardSize);
</script>