﻿@model Trylma.Models.RoomTable

<table style="width:100%">
    <tr>
        <td><b>Gracze</b></td>
        <td><b>Dodaj graczy</b></td>
    </tr>
    <tr>
        <td>
            @foreach (var player in Model.Room.Game.Players)
            {
                <div class="box player @(Model.NewPlayer == player ? "new" : "")">
                    <div class="ui segment">
                        @Html.Partial("_PlayerPartial", @player)

                        @if (@Model.Room.Owner.Name == User.Identity.Name)
                        {
                            <button class="ui button red conf" onclick="removePlayer(this.id)" id="@player.Id">Usuń</button>
                        }
                    </div>
                </div>
            }
        </td>
        <td>
            <div class="userqueuearea">
                @foreach (var user in @Model.Room.UserQueue)
                {
                    <div class="box user @(Model.NewUser == user ? "new" : "")" id="@user.Name">
                        <div class="ui segment">
                            @Html.Partial("_UserPartial", @user)
                                @if (@Model.Room.Owner.Name == User.Identity.Name)
                                {
                                    <button class="ui button blue conf" onclick="addPlayer(this.id)" id="@user.Name">Dodaj</button>
                                }
                        </div>
                    </div>
                }

            </div>
        </td>
    </tr>
</table>
<div class="box">
    <div class="ui segment">
        <button class="ui button green" id="openGame" onclick="openGame()" title="Otwórz grę">Otwórz</button>
        <button class="ui button green" id="startGame" onclick="startGame()" title="Rozpocznij grę jednoosobową">Graj</button>
    </div>
</div>
