﻿@model Exception

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<div class="box"><div class="ui segment">
<h2> Wystąpił błąd :( </h2>
    <div class="ui message red">@Model.Message</div>
    
</div></div>
