﻿@model Trylma.Models.Game

@foreach (var player in @Model.Players)
{
    <div class="box" id="@player.Id">
        <div class="ui segment @(player.IsConnected() == false ? " disscon" : "")">
            @Html.Partial("_PlayerPartial", @player)
        </div>
    </div>
}
