﻿@model List<Trylma.Models.Player>

<div class="box new" id="gameoverinfo">
    <div class="ui segment">

    Gra zakończona! Gratulacje!    

    <ul style="list-style: none">
        @foreach (Trylma.Models.Player pl in Model)
        {
            <li>
                <img src="@pl.User.AvatarPath" width="45" height="45" style="vertical-align:middle" />
                @pl.Name
                <img src="~/Resources/Images/star.png" style="vertical-align: middle" width="15" height="15" />
                <span style="font-size: 20px;">
                    @pl.IncreaseOfRanking
                </span>
            </li>
        }
    </ul>

    </div>
</div>
