﻿@model Trylma.Models.Game


<table style="width: 100%">
    <tr>
        <td style="vertical-align: top; width: 40%">
            <canvas id="canvas" width="600" height="@(Model.GameBoard.Height*36)" float: left"></canvas>
        </td>
        <td>
            @Html.Partial("GameHUD", @Model)
        </td>
    </tr>
</table>
<!--
<p id="output"></p>
Gracz:
<p id="currentPlayer"></p>
Rysuj wsp:
<input type="checkbox" onclick="chckbDrawCoords(this)" />-->

@section Scripts {
    <script>
        var game = new Game();

        function SignalRCompleted() {
            game.init(@Html.Raw(Json.Encode(ViewBag.GameDesc)));
        }
    </script>

    <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/GameHub.js"></script>

    <script>
        Config.user = "@User.Identity.Name";
            //debug mode
            function chckbDrawCoords(o) {
                game.getBoardView().drawCoords = o.checked;
                game.getBoardView().redrawBoard();
            }
        
    </script>
}
