﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trylma Platform</title>

    <style type="text/css">
        * {
            font-family: 'Calibri', sans-serif !important;
        }
    </style>

</head>
<body>
    @if (User.Identity.IsAuthenticated) 
    {
        <div class="box"><div class="ui segment">
            
            <img src="@Trylma.Helpers.DBContext.GetUserByLogin(User.Identity.Name).AvatarPath" width="45" height="45" style="vertical-align:middle"/>
            Jesteś zalogowany jako @User.Identity.Name
            <a href="@Url.Action("logout", "authorization")" class="menu">Wyloguj</a>
            
            <br/><br />
            <div><!--
                <a href="@Url.Action("Index", "Platform")" class="menu">Home</a>
                <a href="@Url.Action("Profile", "Platform")" class="menu">Profil</a>-->

                <button class="ui button blue" onclick='window.location.href = "@Url.Action("Index", "Platform")"'>Home</button>
                <button class="ui button blue" onclick='window.location.href = "@Url.Action("Profile", "Platform")"'>Profil</button>
                <button class="ui button blue" onclick='window.location.href = "@Url.Action("RankingList", "Platform")"'>Ranking</button>

                <button class="ui button green" onclick='window.location.href = "@Url.Action("Create", "GameRoom")"' 
                        style="float: right" id="createGameButton">+ Stwórz nową grę</button>
            </div>
        </div></div>
        
        
    }
    <div>
        @RenderBody()
    </div>
</body>

    <link rel="stylesheet" href="/Styles/GameBoard.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <link rel="stylesheet" href="/Styles/semantic.min.css">

    <script src="/Scripts/base.js"></script>
    <script src="/Scripts/Config.js"></script>
    <script src="/Scripts/Board.js"></script>
    <script src="/Scripts/BoardView.js"></script>
    <script src="/Scripts/Player.js"></script>
    <script src="/Scripts/Game.js"></script>
    <script src="/Scripts/Game.js"></script>
    <script src="/Scripts/jquery-2.1.4.min.js"></script>

    
    @*////////////////////////////////////////////////////////////////////////////////////////////// *@

    @RenderSection("Scripts", required: false)

    
</html>
