﻿@model Trylma.Models.RoomTable

<table style="width: 100%">
    <tr>
        <td><b>Gracze</b></td>
        <td><b>Dodaj graczy</b></td>
    </tr>
    <tr>
        <td>
            @foreach (var player in Model.Room.Game.Players)
            {
                <div class="box player @(Model.NewPlayer == player ? "new" : "")">
                    <div class="ui segment">
                        @Html.Partial("_PlayerPartial", @player)

                        @if (player.Ready == true)
                        {
                            <text>[Gotowy]</text>
                        }

                        @if (player.Type == Trylma.Models.PlayerType.Human &&
                            @Model.Room.Owner.Name == User.Identity.Name &&
                            player.Ready != true)
                        {
                            <button class="ui button red" onclick="removePlayer(this.id)" id="@player.Id">Usuń</button>
                        }
                    </div>
                </div>
            }
        </td>
        <td>
            <div class="userqueuearea">
                @foreach (var user in @Model.Room.UserQueue)
                {
                    <div class="box user @(Model.NewUser == user ? "new" : "")" id="@user.Name">
                        <div class="ui segment">
                            @Html.Partial("_UserPartial", @user)
                            @if (@Model.Room.Owner.Name == User.Identity.Name)
                            {
                                <button class="ui button blue" onclick="addPlayer(this.id)" id="@user.Name">Dodaj</button>
                            }
                        </div>

                    </div>
                }

            </div>
        </td>
    </tr>
</table>
@if (Model.Room.Game.HasUser(User.Identity.Name))
{
<div class="box @(Model.NewPlayer !=null && Model.NewPlayer.User.Name == User.Identity.Name ? "new" : "")">
    <div class="inner">
        <button class="ui button green" id="readyGame" onclick="setReady()" title="Rozpocznij grę">Jestem gotowy!</button>
    </div>
</div>
}
