﻿@model Trylma.Models.Credential





<div class="box">
    <h2>Zaloguj</h2>
    <div class="ui segment">
    @Html.ValidationSummary(true)

    @using(Html.BeginForm("Login", "Authorization", FormMethod.Post ))
    {
    <text>
        <div class="inner">Login: <input name="login" placeholder="Wpisz login" /></div>
        <div class="inner">Hasło: <input name="password" type="password" placeholder="Wpisz hasło" /></div>
        <div class="inner"><input type="submit" class="ui button green" value="Zaloguj"/></div>
    </text>
    }

                     <div class="inner">
                         <button id="register"
                                 class="ui button green">
                             Zarejestruj
                         </button>
                     </div>
    </div></div>

@section Scripts {
    <script>
        $("#register").click(function () {
            window.location.href = "@Url.Action("Register")";
        });


    </script>

}