﻿@model List<Trylma.Models.GameRoom>
@{
    ViewBag.Title = "ListOfGames";
}



<div class="box">
    <div class="ui top attached tabular menu">
        <div class="item @(ViewBag.GameState == (int)Trylma.Models.GameState.Opened ? "active" : "")"><a href="@Url.Action("OpenedGames", "Platform")">Otwarte gry</a></div>
        <div class="item @(ViewBag.GameState == (int)Trylma.Models.GameState.Started ? "active" : "")"><a href="@Url.Action("StartedGames", "Platform")">Rozpoczęte gry</a></div>
        <div class="item @(ViewBag.GameState > (int)Trylma.Models.GameState.Started ? "active" : "")"><a href="@Url.Action("MyGames", "Platform")">Gry w których uczestniczysz</a></div>
    </div>
    <div class="ui bottom attached active tab segment">

        @if (Model.Count == 0)
        {
            if (ViewBag.GameState == (int)Trylma.Models.GameState.Opened)
            {
                <text>W tej chwili nie ma żadnych otwartych gier.</text>
            }
            else if (ViewBag.GameState == (int)Trylma.Models.GameState.Started)
            {
                <text>W tej chwili nie ma żadnych rozpoczętych gier.</text>
            }
            else
            {
                <text>Brak gier.</text>
            }
        }
        else
        {

            <div class="box">
                <div class="segment">
                    @foreach (var room in Model)
                    {
                        <div class="box gamebox" id="@room.GameId">
                            <div class="inner">
                                <table>
                                    <tr>
                                        <td><b>Założyciel:</b><br /></td>
                                        <td><b>Gracze:</b></td>
                                        <td><b>Inne osoby w pokoju:</b></td>
                                    </tr>
                                    <tr>
                                        <td>@Html.Partial("_UserPartial", @room.Owner)</td>
                                        <td>
                                            @foreach (var player in room.Game.Players)
                                            {
                                                @Html.Partial("_PlayerPartial", @player);
                                                <br />
                                            }
                                        </td>
                                        <td>
                                            @foreach (var user in room.UserQueue)
                                            {

                                                @Html.Partial("_UserPartial", @user);

                                                <br />
                                            }
                                        </td>
                                    </tr>
                                </table>

                                @if (room.UserParticipate(User.Identity.Name) == false)
                                {
                                    <div style="padding-top: 5px">
                                        <button class="ui button green joinGameButton" data-id="@room.GameId">Dołącz</button>
                                    </div>
                                }
                                else
                                {
                                    <div style="padding-top: 5px">
                                        <button class="ui button green joinGameButton" data-id="@room.GameId">Wejdź</button>
                                    </div>
                                }
                                <div class="ui divider"></div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

    </div>


    <!--input id="newGameButton" type="button" value="New Game" /-->
</div>


@section Scripts {
    <script>

        $(".joinGameButton").on('click', function () {
            console.log('joinbutton');
            var gameId = $(this).attr('data-id');
            window.location.href = "@Url.Action("Index", "GameRoom")" + "/?GameId=" + gameId;
        });
    </script>
}
