﻿@model Trylma.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}



<div class="box">
    <h2>Profil</h2>
    <div class="ui segment">
    <h3>Awatar</h3>
<img src="@Model.AvatarPath" width="100" height="100" />
@using (Html.BeginForm("UploadAvatar", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{   
    <input type="file" name="file" id="file"  /> 
    <input type="submit" value="Prześlij" class="submit" /> 
}
</div></div>
