﻿@model List<Trylma.Models.User>

<div class="box">
    <h2>Lista rankingowa</h2>

    <div class="ui segment">
        <ul style="list-style: none">
            
            @for (int i = 0; i < Model.Count;i++ )
            {
                <li>
                    <text style="font-size: 25px; margin-right: 10px;">@(i+1).</text> @Html.Partial("_UserPartial", Model[i])
                </li>
                <br />
            }
        </ul>
    </div>
</div>