﻿@model Dictionary<string, int>
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    td {
        
    }
</style>

<div class="box"><div class="inner">
    <p id="remaining"></p>


<table>
    <tbody class="head"></tbody>
    <tbody class="results">
    </tbody>
</table>
</div></div>

@section Scripts {
<script>

    function Stats()
    {
        this.movesSum = 0;
        this.wins = 0;
    }
    var stats = [];

    var head = false;
    function appendHead(result) {
        if (head == true) return;
        head = true;
        var row = '<tr><td>lp</td>';

        var keys = Object.keys(result);
        keys.forEach(function (k) {
            row += '<td>' + result[k].PlayerName + '</td>';
        })
        row += '</tr>';

        $('.head').prepend(row);
    }

    function appendRow(lp, result) {
        var winnerclass = " style = 'background-color: lightgreen; '";
        var looserclass = " style = 'background-color: #FF6666; '";
        var normalclass = " style = 'background-color: #FFFF66;' ";

        var row = '<tr><td>'+lp+'</td>';
        
        var keys = Object.keys(result);
        keys.forEach(function (k) {
            var c = looserclass;

            if (result[k].Winner == true) {
                c = winnerclass;
            }

            row += '<td' + c + '>'  + result[k].Moves + '</td>';
        })
        row += '</tr>';
        $('.results').prepend(row);
    }


    var n = 100;
    function Test(lp, n, end) {
        if (n == 0) {
            end();  
            return;
        }

        $.post("/AITests/TestGame", {
            boardSize: 0,
            playersStr: "1 2 1",
            startBase: 3 
        }, function (result) {
            result = JSON.parse(result);
            console.log(result);
            var keys = Object.keys(result);
            keys.forEach(function (k) {
                if (stats[k] == undefined) stats[k] = new Stats();
                stats[k].movesSum += result[k].Moves;
                if (result[k].Winner == true) stats[k].wins++;
            });

            appendHead(result);
            appendRow(lp, result);

            $('#remaining').text('Pozostało ' + (n-1));
            Test(lp+1, n - 1, end);
        });
    }

    Test(1, n, function () {

        var resultWins = [];
        
        $('.results').prepend('<tr><td></td><td></td><td></td></tr>');

        var maxId = -1;
        var keys = Object.keys(stats);
        keys.forEach(function (k) {
            if (maxId == -1 || stats[maxId].wins < stats[k].wins) {
                maxId = k;
            }
            if (resultWins[k] == undefined) resultWins[k] = [];
            resultWins[k].Moves = stats[k].wins;
        });

        keys.forEach(function (k) {
            if (resultWins[k].Moves == resultWins[maxId].Moves)
                resultWins[k].Winner = true;
        });

        appendRow('wygrane', resultWins);

        var resultAverageMoves = [];
        keys.forEach(function (k) {
            resultAverageMoves[k] = [];
            resultAverageMoves[k].Moves = stats[k].movesSum / n;
        });

        appendRow('średnio ruchów', resultAverageMoves);

        
        
        /*
        appendRow('średnio', {
            HeuristicAI: hSum / n,
            MinMaxAI: mSum / n
        }, function (a, b) { return a > b; } );

        appendRow('wygranych gier', {
            HeuristicAI: hWins,
            MinMaxAI: mWins
        }, function (a, b) { return a < b; });

        appendRow('zremisowanych', {
            HeuristicAI: draws,
            MinMaxAI: draws
        }, function (a, b) { return a > b; });*/
    });
</script>
}