﻿@model Trylma.Models.GameRoom
@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="box">
    <h2>Pokój</h2>
        <div id="headarea">
            @if (Model.Game.IsGameOver) 
            {
                @Html.Partial("GameOver", @Model.Game.Winners)
            }
        
        </div>
    <table style="width: 100%">
        <tr>
            <td style="vertical-align: top; width: 600px">
                <canvas id="canvas" width="600" height="@(Model.Game.GameBoard.Height*36)" style="float: left"></canvas>
            </td>
            <td style="vertical-align: top;">
                <div class="roomtablearea">

                </div>
            </td>
        </tr>
    </table>
</div>

<div class="box">
    <h2>Chat</h2>
    <div class="ui form">
        <div class="field">
            <textarea style="width: 100%" id="chattext"></textarea>
        </div>
    </div>

        <div class="chatarea">
            @for (int i = @Model.Messages.Count - 1; i >= 0; i--)
            {
                @Html.Partial("_Message", @Model.Messages[i]);
            }
        </div>
    </div>

@section Scripts {
    <script>
        var game = new Game();
    </script>

    <script src="/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="/Scripts/GameHub.js"></script>

    <script>

        function SignalRCompleted()
        {
            game.init(@Html.Raw(Json.Encode(ViewBag.GameDesc)));

            var gameId =  @Model.GameId;
            $.post("/GameRoom/JoinRoom", {
                gameId: gameId
            }, function(result) {
                var start = setTimeout(function () {
                    gameHub.server.endMoveRequest(game.getId());
                }, 1000);
            });
        }

        //wysłanie wiadomości z czatu
        $('#chattext').keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                $.post("/GameRoom/AddMessage", {
                    gameId: @Model.GameId,
                    msg: $("#chattext").val()
                });
                $("#chattext").val('');
            }
        });

        function setReady(id) {
            $.post("/GameRoom/SetReady", {
                gameId: @Model.GameId,
            });
        }

        //dodanie gracza
        function addPlayer(id) {
            $.post("/GameRoom/AddPlayer", {
                gameId: @Model.GameId,
                userName: id
            });
        }

        function removePlayer(id) {
            $.post("/GameRoom/RemovePlayer", {
                gameId: @Model.GameId,
                playerId: id,
            });
        }

        function changeBoardSize() {
            $.post("/GameRoom/SetBoardSize", {
                gameId: @Model.GameId,
                boardSize: $('#boardSize').val()
            }, function(result) {
                if (result.result == true)
                {
                    $('canvas').attr('height', result.game.Data.BoardHeight*36);
                    game.init(result.game.Data);
                    game.draw();

                }
            });
        }

        function openGame() {
            $.post("/GameRoom/Open", {
                gameId: @Model.GameId,
            });
        }

        function startGame() {
            $.post("/GameRoom/StartGame", {
                gameId: @Model.GameId,
            });
        }

        window.onunload = function() {
            var gameId =  @Model.GameId;
            $.post("/GameRoom/LeaveRoom", {
                gameId: gameId
            });
        }



</script>
}