﻿.gameField {
    background-color: lightgray;
    width: 15px;
    text-align: center;
    float: left;
}

.occupiedBy-0 {
    color: lightskyblue;
}

.occupiedBy-1 {
    color: lightcoral;
}

.occupiedBy-2 {
    color: green;
}

.occupiedBy-3 {
    color: yellow;
}

.occupiedBy-4 {
    color: purple;
}

.occupiedBy-5 {
    color: lightsalmon;
}

.playerBase-0 {
    background-color: blue;
}

.playerBase-1 {
    background-color: red;
}

.playerBase-2 {
    background-color: lightgreen;
}

.playerBase-3 {
    background-color: lightyellow;
}

.playerBase-4 {
    background-color: magenta;
}

.playerBase-5 {
    background-color: #FFD000;
}

    #gameWindow {
        float: left;
    }