﻿body {
    font-family: Calibri;
    padding: 5px;
}

.box {
    background-color:aliceblue; 
    width: 100%; 
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border: 1px solid silver;
}

.gamebox {
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid silver;
}

a.menu {
    padding: 10px;
    background-color:lightblue; 
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

div.tab {
    display: inline-block;
    padding: 10px;
    margin-bottom: -1px;
    background-color: cornsilk;
    margin-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid silver;
    border-bottom: 1px solid aliceblue;
}


div.tab:hover {
    background-color: palegreen;
}

div.tab:not(.active) {
    margin-bottom: -1px;
    border-bottom: 1px solid silver;
}

div.tab.active {
    background-color: aliceblue;
}



div.tab a {
    text-decoration: none;
    color: black;
}

a.menu:hover {
    background-color: lightgreen;
}

span.me {
    font-weight: bold;
}

div {
    transition: background-color 1s;
}

button {
    transition: background-color 0.5s;
}

.new {
    background-color:orange;
}

.specialmsg {
    background-color: lightblue;
}

div.currentPlayer {
    background-color: orange;
}

.disscon {
    background-color: silver;
}

.circle {
    float:left;
    margin-top: 10px;
    margin-right: 10px;
	background-color: #6AAEDE; 
	color: white;
	text-align: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
    border: 1px solid gray;
}

.info {
    background-color:lightblue; 
    width: 100%; 
    border-radius: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.inner {
    margin: 10px;
}

table {
    width: 100%;
}
table td {
    padding: 10px;
    vertical-align: top;
}

.addBtn, .funcBtn, .removeBtn {
    background-color: lightblue;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
}

input {
    background-color: white;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
}

.funcBtn {
    background-color: palegreen;
}

button.funcBtn:hover {
    background-color: greenyellow;
}

.addBtn:hover, .removeBtn:hover {
    background-color: lightcyan;
}

.ui-tooltip {
    font-size: 12px;
}
