﻿body {
    font-family: Calibri;
    padding: 5px;
}

.box {
    
    width: 100%; 
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.circle {
    float:left;
    margin-top: 10px;
    margin-right: 10px;
	background-color: #6AAEDE; 
	color: white;
	text-align: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
    border: 1px solid gray;
}

button.conf{
    float: right;
}


.segment, .active{
    background-color: aliceblue !important;
}


.new {
    background-color:lightblue !important;
}

.player, .msg, .user, .box{
    transition: background-color 1s;
}

div.currentPlayer {
    background-color: lightblue;
}

table {
    width: 100%;
}
table td {
    vertical-align: top;
    padding-top: 5px;
    padding-bottom:5px;
}

input {
    background-color: white;
    border: 1px solid silver;
    padding: 5px;
    border-radius: 5px;
}

.inner {
    margin: 10px;
}

#chattext {
    height: 10px;
    margin-bottom: 10px;
}

.disscon {
    background-color: #efefef !important;
}

.me {
    font-weight: bold;
}